
// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties

:host {
  --page-margin: var(--app-fair-margin);
  --page-pictures-gutter: calc(var(--page-margin) / 2);
  --page-tags-horizontal-gutter: 4px;
}

.logo {
  align-items: center;
}

ion-button {
	z-index: 100;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.description-row {
    --ion-grid-column-padding: 0px;
    padding: var(--page-margin) var(--page-margin) 0px;

    .details-name {
      margin: 0px;
      font-size: 24px;
    }
    .item-description {
      text-align: justify;
    }
}

h3.a {
  text-align: center;
  color:#1C1C1C;
  font-size: 26px;

  /* Opcion 1

  text-align: center;
  font-family:Impact;
  color:#1C1C1C;
  font-size: 28px;

  */

  /* Opcion 2

  text-align: center;
  font-family:Lucida Sans Unicode;
  font-weight: bold;
  color:#1C1C1C;
  font-size: 26px;

  */

  /* Opcion 3

  text-align: center;
  font-family:Palatino Linotype;
  font-weight: bold;
  color:#1C1C1C;
  font-size: 28px;
  
  */
}

.image-row {
  --ion-grid-column-padding: 0px;

  .icon-wrapper {
    margin: 0px 15%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}

.user-photos-section {
  margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
  padding-bottom: calc(var(--page-margin) * 2);
  
  .pictures-row {
    --ion-grid-columns: 4;
    --ion-grid-column-padding: 0px;

    margin: 0px calc(var(--page-pictures-gutter) * -1);

    .picture-item {
      --col-item-width: 2;
      // SSR fix: Override ion-col styles
      flex: 0 0 calc(calc(var(--col-item-width) / var(--ion-grid-columns, 12)) * 100%);
      width: calc(calc(var(--col-item-width) / var(--ion-grid-columns, 12)) * 100%);
      max-width: calc(calc(var(--col-item-width) / var(--ion-grid-columns, 12)) * 100%);

      padding: 0px var(--page-pictures-gutter) calc(var(--page-pictures-gutter) * 2);
    }
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }
}