// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --shell-color: #d9453a;
  --shell-color-rgb: 217,69,58;
}

// You can also apply sheel styles to the entire page
:host(.is-shell) {
  // ion-content {
  //   opacity: 0.8;
  // }
}

app-image-shell.details-picture {
  --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
  --image-shell-spinner-color: rgba(var(--shell-color-rgb), .25);
}


app-image-shell.location-image {
  --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
  --image-shell-spinner-color: rgba(var(--shell-color-rgb), .25);
}
