@import "theme/mixins/inputs/checkbox-tag";
@import "theme/mixins/scrollbars";
// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);

  --page-tags-vertical-gutter: 2px;
  --page-pictures-gutter: calc(var(--page-margin) / 2);
  --page-places-gutter: 5px;

  --page-tags-gutter: 5px;
}

.logo {
  align-items: center;
}

ion-button {
	z-index: 100;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.description-row {
  --ion-grid-column-padding: 0px;
  padding: var(--page-margin) var(--page-margin) 0px;

  .details-name {
    margin: 0px;
    font-size: 24px;
  }

  .item-description {
    text-align: justify;
  }
}

h3.a {
  text-align: center;
  color:#1C1C1C;
  font-size: 28px;
}

.image-row {
  --ion-grid-column-padding: 0px;

  .icon-wrapper {
    margin: 0px 15%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}


.detail-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--ion-color-dark-tint);
  margin: 0px 0px var(--page-margin);
}


.checkbox-tags {

  @include checkbox-tag();

  .checkbox-tag {
    //padding: 0px var(--page-tags-gutter);
    margin: var(--page-tags-gutter) 0px;
  }

  // Add a deeper selector to override default colors
  &.square-checkbox-tags {
    background-color: var(--page-background);

    .checkbox-tag {
      --checkbox-tag-color: var(--ion-color-medium);
      --checkbox-tag-background: var(--ion-color-lightest);
      --checkbox-tag-active-color: var(--ion-color-lightest);
      --checkbox-tag-active-background: var(--ion-color-secondary);
    }
  }

  // Add a deeper selector to override default colors
  &.rounded-checkbox-tags {
    background-color: var(--ion-color-lightest);

    .checkbox-tag {
      --checkbox-tag-color: var(--ion-color-lightest);
      --checkbox-tag-background: var(--ion-color-light-shade);
      --checkbox-tag-active-color: var(--ion-color-lightest);
      --checkbox-tag-active-background: var(--ion-color-secondary);
    }
  }
}

.user-photos-section {
  margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
  padding-bottom: calc(var(--page-margin) * 2);
  
  .pictures-row {
    --ion-grid-columns: 4;
    --ion-grid-column-padding: 0px;

    margin: 0px calc(var(--page-pictures-gutter) * -1);

    .picture-item {
      --col-item-width: 2;
      // SSR fix: Override ion-col styles
      flex: 0 0 calc(calc(var(--col-item-width) / var(--ion-grid-columns, 12)) * 100%);
      width: calc(calc(var(--col-item-width) / var(--ion-grid-columns, 12)) * 100%);
      max-width: calc(calc(var(--col-item-width) / var(--ion-grid-columns, 12)) * 100%);

      padding: 0px var(--page-pictures-gutter) calc(var(--page-pictures-gutter) * 2);
    }
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }
}

/*

.general-margin {
  margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
}

.details-name {
    margin: 0px;
    font-size: 20px;
}

.image-row {
    --ion-grid-column-padding: 0px;

    .icon-wrapper {
      margin: 0px 15%;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
}


.info-row {
    --ion-grid-column-padding: 0px;

    padding: var(--page-margin);
    padding-bottom: calc(var(--page-margin) / 2);

    .main-info-col {
      padding-right: calc(var(--page-margin) / 2);
    }

    .item-name {
      margin: 0px 0px var(--page-margin);
      text-transform: capitalize;
      font-size: 16px;

      .name-anchor {
        color: var(--ion-color-dark);
        display: block;
        text-decoration: none;
      }
    }
}

*/

/*
<ion-row class="checkbox-tags square-checkbox-tags">
    <ion-item lines="none" class="checkbox-tag">
      <ion-label class="tag-label" >Brillo</ion-label>
    </ion-item>
    <ion-item lines="none" class="checkbox-tag">
      <ion-label class="tag-label" >Volumen</ion-label>
    </ion-item>
    <ion-item lines="none" class="checkbox-tag">
      <ion-label class="tag-label" >Manejabilidad</ion-label>
    </ion-item>
    <ion-item lines="none" class="checkbox-tag">
      <ion-label class="tag-label" >Hidratación Profunda</ion-label>
    </ion-item>
    <ion-item lines="none" class="checkbox-tag">
      <ion-label class="tag-label" >Reducción de Frizz</ion-label>
    </ion-item>
  </ion-row>
*/