// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
    --shell-color: #00AFFF;
    --shell-color-rgb: 0,175,255;
}

app-image-shell.details-image {
    --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
    --image-shell-overlay-background: rgba(var(--ion-color-dark-rgb), .40);
    --image-shell-spinner-color: rgba(var(--shell-color-rgb), .25);
}

app-image-shell.user-photo-image {
    --image-shell-border-radius: var(--page-border-radius);
}