// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --shell-color: #70DF70;
  --shell-color-rgb: 112,223,112;
}

// You can also apply sheel styles to the entire page
:host(.is-shell) {
  // ion-content {
  //   opacity: 0.8;
  // }
}

app-image-shell.showcase-image {
  --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
  --image-shell-spinner-color: rgba(var(--shell-color-rgb), .25);
}

app-image-shell.logo-image {
  --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
  --image-shell-spinner-color: rgba(var(--shell-color-rgb), .30);
  --image-shell-spinner-size: 18px;
}

app-image-shell.preview-image {
  --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
  --image-shell-spinner-color: rgba(var(--shell-color-rgb), .30);
  --image-shell-spinner-size: 18px;
}

app-image-shell.related-deal-logo {
  --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
  --image-shell-spinner-color: rgba(var(--shell-color-rgb), .30);
  --image-shell-spinner-size: 18px;
}
