// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --shell-color: #cb328f;
  --shell-color-rgb: 203,50,143;
}

// You can also apply sheel styles to the entire page
:host(.is-shell) {
  // ion-content {
  //   opacity: 0.8;
  // }
}

app-image-shell.showcase-image {
  --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
  --image-shell-spinner-color: rgba(var(--shell-color-rgb), .25);
}

app-image-shell.related-product-image {
  --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
  --image-shell-spinner-color: rgba(var(--shell-color-rgb), .25);
}
