@import "theme/mixins/scrollbars";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-narrow-margin);

  --page-categories-gutter: calc(var(--page-margin) / 4);

  --page-category-background: var(--ion-color-medium);
  --page-category-background-rgb: var(--ion-color-medium-rgb);
  --page-border-radius: var(--app-fair-radius);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
/*
ion-content{
  --background: #fff url('../../../assets/sample-images/logo/yberaprofessional.jpg') repeat center center;
}
*/

.categories-prueba {
  background-color: var(--ion-color-ybera);
}

.category-backfont-title {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--ion-color-ybera-contrast);
  text-align: center;
  font-style: normal;
}

.category-backfont {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--ion-color-ybera-contrast);
  text-align: center;
  font-style: normal;
}

.center {
  margin: auto;
  width: 120px;
  height: 30px;
  padding: calc(var(--page-categories-gutter) * 3);
}


.categories-list {
  --ion-grid-column-padding: var(--page-categories-gutter);

  padding: calc(var(--page-categories-gutter) * 3);
  height: 100%;
  align-content: flex-start;
  overflow: scroll;

  @include hide-scrollbars();

  .category-item {
    .category-anchor {
      height: 100%;
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      .category-title {
        margin: auto;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1px;
        padding: calc((var(--page-margin) / 4) * 3) var(--page-margin);
        color: var(--ion-color-lightest);
        background-color: var(--page-category-background);
        border-radius: var(--app-fair-radius);
      }
    }
  }

  .travel-category {
    --page-category-background: #000000;
    --page-category-background-rgb: 0,175,255;
  }

  .fashion-category {
    --page-category-background: #cb328f;
    --page-category-background-rgb: 203,50,143;
  }

  .food-category {
    --page-category-background: #ebbb00;
    --page-category-background-rgb: 235,187,0;
  }

  .deals-category {
    --page-category-background: #70df70;
    --page-category-background-rgb: 112,223,112;
  }

  .real-estate-category {
    --page-category-background: #d9453a;
    --page-category-background-rgb: 217,69,58;
  }
}


/*
<ion-row class="categories-prueba">
    <ion-col size="12">
      <app-aspect-ratio  [ratio]="{w:90, h:20}">
        <h3 class="category-backfont">
          Descubre los beneficios de nuestros productos
        </h3>
      </app-aspect-ratio>
    </ion-col>
  </ion-row>

White Header
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only"  src="../assets/custom-icons/menu/mail.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-img style="height: 40px;" src="../assets/sample-images/logo/black-logo.png"></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" src="../assets/custom-icons/menu/cart.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


Black Header
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only"  src="../assets/custom-icons/menu/mail_black.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-img style="height: 40px;" src="../assets/sample-images/logo/white-logo1.png"></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" size="large"  src="../assets/custom-icons/menu/cart_black.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

*/